<div class="container">
<h1 class="teal-text">About T-Shirt Town</h1>
<p>T-Shirt Town started as a group project, where 3 desperate students grasped for an idea to eat more than packaged Ramen noodles.</p>
<p>One of the students, Cael, had managed to make a name for himself in the community by designing and printing t-shirts.  Thus T-Shirt Town was born.</p>
<p>Thanks for shopping with T-Shirt Town, where we'll, literally, give you the shirt off our backs!</p>
<%= image_tag("our-group.jpg", class: "responsive-img", alt: "Our group", title:"Our Group!") %>
</div>