@import 'materialize';

body {
  font-family: copperplate;
  font-size: 30px;
  background: #ffab40;
  color: #ffd180;
}

h1 {
  font-family: copperplate;
  font-size: 150px;
  background: black;
  color: #ffd180;
}
