
<div class= "container">
<%= form_for @category do |f| %>

  <div class="field">
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>
<%= f.submit class: "btn teal white-text" %>

<% end %>
</div> 
