<nav class="teal darken-2">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">T-Shirt Town</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/about">About</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><% link_to 'Categories', categories_path %></li>
    </ul>
  </div>
</nav>
